In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("animal_category.csv")
df

    Index Animals  Gender Homly Types
0       1     Cat    Male   Yes     A
1       2     Dog    Male   Yes     B
2       3   Mouse    Male   Yes     C
3       4   Mouse    Male   Yes     C
4       5     Dog  Female   Yes     A
5       6     Cat  Female   Yes     B
6       7    Lion  Female   Yes     D
7       8    Goat  Female   Yes     E
8       9     Cat  Female   Yes     A
9      10     Dog    Male   Yes     B
10     11     Dog    Male   Yes     B
11     12    Lion    Male    No     D
12     13    Lion    Male    No     D
13     14    Lion    Male    No     D
14     15     Cat  Female   Yes     A
15     16    Lion  Female    No     D
16     17    Lion  Female    No     D
17     18     Cat  Female   Yes     A
18     19    Goat    Male    No     E
19     20    Goat  Female    No     E
20     21    Goat    Male    No     E
21     22    Goat  Female    No     E
22     23    Lion    Male    No     D
23     24    Lion  Female    No     D
24     25    Lion    Male    No     D
25     26    Lion  Female    No     D
26     27     Dog    Male   Yes     B
27     28    Lion  Female    No     D
28     29     Cat    Male   Yes     A
29     30    Lion  Female    No     D

In [3]:
df.columns

Index(['Index', 'Animals', 'Gender', 'Homly', 'Types'], dtype='object')

In [4]:
df.shape

(30, 5)

In [19]:
#df.drop(['Index', 'Animals'], axis = 1, inplace = True)
#df.dtypes

In [14]:
# create dummy variables

df_new = pd.get_dummies(df)
df_new

,Gender_Female,Gender_Male,Homly_No,Homly_Yes,Types_A,Types_B,Types_C,Types_D,Types_E
0,0,1,0,1,1,0,0,0,0
1,0,1,0,1,0,1,0,0,0
2,0,1,0,1,0,0,1,0,0
3,0,1,0,1,0,0,1,0,0
4,1,0,0,1,1,0,0,0,0
5,1,0,0,1,0,1,0,0,0
6,1,0,0,1,0,0,0,1,0
7,1,0,0,1,0,0,0,0,1
8,1,0,0,1,1,0,0,0,0
9,0,1,0,1,0,1,0,0,0
10,0,1,0,1,0,1,0,0,0
11,0,1,1,0,0,0,0,1,0
12,0,1,1,0,0,0,0,1,0
13,0,1,1,0,0,0,0,1,0
14,1,0,0,1,1,0,0,0,0
15,1,0,1,0,0,0,0,1,0
16,1,0,1,0,0,0,0,1,0
17,1,0,0,1,1,0,0,0,0
18,0,1,1,0,0,0,0,0,1
19,1,0,1,0,0,0,0,0,1
20,0,1,1,0,0,0,0,0,1
21,1,0,1,0,0,0,0,0,1
22,0,1,1,0,0,0,0,1,0
23,1,0,1,0,0,0,0,1,0
24,0,1,1,0,0,0,0,1,0
25,1,0,1,0,0,0,0,1,0
26,0,1,0,1,0,1,0,0,0
27,1,0,1,0,0,0,0,1,0
28,0,1,0,1,1,0,0,0,0
29,1,0,1,0,0,0,0,1,0

In [18]:
df_new1 = pd.get_dummies(df, drop_first = True)
df_new1

    Gender_Male  Homly_Yes  Types_B  Types_C  Types_D  Types_E
0             1          1        0        0        0        0
1             1          1        1        0        0        0
2             1          1        0        1        0        0
3             1          1        0        1        0        0
4             0          1        0        0        0        0
5             0          1        1        0        0        0
6             0          1        0        0        1        0
7             0          1        0        0        0        1
8             0          1        0        0        0        0
9             1          1        1        0        0        0
10            1          1        1        0        0        0
11            1          0        0        0        1        0
12            1          0        0        0        1        0
13            1          0        0        0        1        0
14            0          1        0        0        0        0
15            0          0        0        0        1        0
16            0          0        0        0        1        0
17            0          1        0        0        0        0
18            1          0        0        0        0        1
19            0          0        0        0        0        1
20            1          0        0        0        0        1
21            0          0        0        0        0        1
22            1          0        0        0        1        0
23            0          0        0        0        1        0
24            1          0        0        0        1        0
25            0          0        0        0        1        0
26            1          1        1        0        0        0
27            0          0        0        0        1        0
28            1          1        0        0        0        0
29            0          0        0        0        1        0

In [22]:
from sklearn.preprocessing import OneHotEncoder

In [33]:
enc = OneHotEncoder()

enc_df = pd.DataFrame(enc.fit_transform(df.iloc[:,1:]).toarray())
enc_df

      0    1    2    3    4    5    6
0   0.0  1.0  1.0  0.0  0.0  0.0  0.0
1   0.0  1.0  0.0  1.0  0.0  0.0  0.0
2   0.0  1.0  0.0  0.0  1.0  0.0  0.0
3   0.0  1.0  0.0  0.0  1.0  0.0  0.0
4   0.0  1.0  1.0  0.0  0.0  0.0  0.0
5   0.0  1.0  0.0  1.0  0.0  0.0  0.0
6   0.0  1.0  0.0  0.0  0.0  1.0  0.0
7   0.0  1.0  0.0  0.0  0.0  0.0  1.0
8   0.0  1.0  1.0  0.0  0.0  0.0  0.0
9   0.0  1.0  0.0  1.0  0.0  0.0  0.0
10  0.0  1.0  0.0  1.0  0.0  0.0  0.0
11  1.0  0.0  0.0  0.0  0.0  1.0  0.0
12  1.0  0.0  0.0  0.0  0.0  1.0  0.0
13  1.0  0.0  0.0  0.0  0.0  1.0  0.0
14  0.0  1.0  1.0  0.0  0.0  0.0  0.0
15  1.0  0.0  0.0  0.0  0.0  1.0  0.0
16  1.0  0.0  0.0  0.0  0.0  1.0  0.0
17  0.0  1.0  1.0  0.0  0.0  0.0  0.0
18  1.0  0.0  0.0  0.0  0.0  0.0  1.0
19  1.0  0.0  0.0  0.0  0.0  0.0  1.0
20  1.0  0.0  0.0  0.0  0.0  0.0  1.0
21  1.0  0.0  0.0  0.0  0.0  0.0  1.0
22  1.0  0.0  0.0  0.0  0.0  1.0  0.0
23  1.0  0.0  0.0  0.0  0.0  1.0  0.0
24  1.0  0.0  0.0  0.0  0.0  1.0  0.0
25  1.0  0.0  0.0  0.0  0.0  1.0  0.0
26  0.0  1.0  0.0  1.0  0.0  0.0  0.0
27  1.0  0.0  0.0  0.0  0.0  1.0  0.0
28  0.0  1.0  1.0  0.0  0.0  0.0  0.0
29  1.0  0.0  0.0  0.0  0.0  1.0  0.0

In [34]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()

In [36]:
df.Gender = labelencoder.fit_transform(df.Gender)
df.Gender

0     1
1     1
2     1
3     1
4     0
5     0
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    0
15    0
16    0
17    0
18    1
19    0
20    1
21    0
22    1
23    0
24    1
25    0
26    1
27    0
28    1
29    0
Name: Gender, dtype: int32